.filterOptions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.filterOptions label {
    height: 35px;
}

.filterOptions .selected {
    border: 3px solid #4242EA;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    color: #4242EA;
    background-color: #EBFF00;
    font-size: 20px;
    font-weight: bold;
    display: grid;
    align-items: center;
}

.filterOptions label:hover {
    cursor: pointer;
         font-size: 22px;
     transition: ease-in;

}
.filterOptions .hidden {
    border: 3px solid #EBFF00;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    color: #EBFF00;
    background-color: #4242EA;
    font-size: 20px;
    font-weight: bold;
    display: grid;
    align-items: center;
}

.filterOptions label input {
    display: none;
}