.jobsList {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    font-family: sans-serif;
}

.jobsList li {
    width: 45%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5px;
    align-items: center;
    border-bottom: 1px solid darkblue;
    
}

.jobsList li h3 {
    font-size: 15px;
    font-weight: bold;
}

.jobsList li select {
    height: 25px;
    width: 200px;
}

.jobIndexItemEdit:hover {
    cursor: pointer;
    /* background-color: white; */
}

.timeSinceJobCreation {
    text-align: right;
}