.jobsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    font-family: sans-serif;
}

.jobsList li {
    width: 55%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid #4242EA;
    border-radius: 5px 5px 0px 0px;
    text-align: left;
    
}

.jobsList li:hover {
    background-color: rgb(224, 221, 221);
}

.jobsList li h3 {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    padding-bottom: 5px;
}

.jobsList li h4 {

}

.jobsList li select {
    height: 30px;
    width: 200px;
    padding-left: 10px;
}

.jobIndexItemEdit:hover {
    cursor: pointer;
    /* background-color: white; */
}

.timeSinceJobCreation {
    text-align: right;
    font-size: 15px;
    margin-right: 15px;
    color: darkblue;
}