.requestContainer {
    min-width: 170px;
}

.request {
    height: 35px;
    min-width: 170px;
    border-radius: 5px;
    background-color: #EBFF00;
    color: #4242EA;
    border: 2px solid #4242EA;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    transition: all 0.2s ease-in-out;

}

.request:hover {
    cursor: pointer;
    background-color: #4242EA;
    color:#EBFF00;
    border: 2px solid #EBFF00;
}
