nav {
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    background: #4242EA;
    height: 75px;
}

.logoutButton {
    height: 35px;
    width: 100px;
    margin: 50px;
    border-radius: 5px;
    border: 2px solid white;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    transition: all 0.2s ease-in-out;

}

.logoutButton:hover {
    background: lightgray;
    border: 2px solid lightgrey;
    cursor: pointer;
}

.signUpAndLogin {
    color: black;
    cursor: pointer;
    width: 100px;
    margin: 50px;
    border-radius: 5px;
    border: 2px solid white;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    background-color: white;
    text-decoration: none;
    padding: 10px;

}

.signUpAndLogin:hover {
    background: lightgray;
    border: 2px solid lightgrey;
    cursor: pointer;
}

.navAdmin {
    width: 100%;
    display: flex; 
    justify-content: space-around;
    align-items: center;
}

.navAdmin a {
    color: white;
    font-size: 25px;
    text-decoration: none;
}

.active {
    font-weight: bold;
}

.jobTrackerNav {

}

.homeNav {
    justify-content: space-around;
}

.homeNav a {
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 23px;
    text-decoration: none;
}

.homeNav a:hover {
    text-decoration: underline;
}

.homeNav div {
    display: flex;
}