.gongContainer {
  background-color: #4242ea;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gongContainer:hover {
  cursor: url(../../assets/mallet2.png), auto;
}

.shake {
  animation: shake 0.2s infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-2deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(2deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(2deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-2deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-2deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(2deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-2deg);
  }
}

.gong {
  width: 400px;
  border-radius: 50%;
}

.blink-text {
  color: #000;
  font-weight: bold;
  font-size: 22px;
  animation: blinkingText 1s infinite;
  text-transform: uppercase;
  text-decoration: none;
}
@keyframes blinkingText {
  0% {
    color: #ebff00;
  }
  20% {
    color: #4242ea;
  }
  40% {
    color: #ebff00;
  }
  60% {
    color: #4242ea;
  }
  80% {
    color: #ebff00;
  }
  100% {
    color: #4242ea;
  }
}

.blink-text:hover {
  text-decoration: underline;
  animation: none;
  color: #4242ea;
}
