.paginationContainer {
  display: flex;
  width: 55%;
  margin: auto;
  font-family: sans-serif;
  font-size: 18px;
  font-style: italic;
}

.paginationContainer select {
  margin-left: 5px;
  margin-right: 5px;
}

.paginationContainer form {
  margin-left: 30px;
}

.pageLabel input {
  display: none;
}

.pageLabel {
  padding: 5px;
}

.pageLabel:hover {
  cursor: pointer;
  text-decoration: underline;
}

.onPage {
  color: #4242ea;
  text-decoration: underline;
}
.offPage {
  color: black;
}

.pageHeader {
  font-style: italic;
}
